<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.urban.function.mapper.SysComplainMapper">
    
    <resultMap type="SysComplain" id="SysComplainResult">
        <result property="complainId"    column="complain_id"    />
        <result property="complainTitle"    column="complain_title"    />
        <result property="complainType"    column="complain_type"    />
        <result property="complainContent"    column="complain_content"    />
        <result property="status"    column="status"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
        <result property="remark"    column="remark"    />
    </resultMap>

    <sql id="selectSysComplainVo">
        select complain_id, complain_title, complain_type, complain_content, status, create_by, create_time, update_by, update_time, remark from sys_complain
    </sql>

    <select id="selectSysComplainList" parameterType="SysComplain" resultMap="SysComplainResult">
        <include refid="selectSysComplainVo"/>
        <where>  
            <if test="complainTitle != null  and complainTitle != ''"> and complain_title = #{complainTitle}</if>
            <if test="complainType != null  and complainType != ''"> and complain_type = #{complainType}</if>
            <if test="complainContent != null  and complainContent != ''"> and complain_content = #{complainContent}</if>
            <if test="status != null  and status != ''"> and status = #{status}</if>
        </where>
    </select>
    
    <select id="selectSysComplainByComplainId" parameterType="Integer" resultMap="SysComplainResult">
        <include refid="selectSysComplainVo"/>
        where complain_id = #{complainId}
    </select>
        
    <insert id="insertSysComplain" parameterType="SysComplain" useGeneratedKeys="true" keyProperty="complainId">
        insert into sys_complain
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="complainTitle != null and complainTitle != ''">complain_title,</if>
            <if test="complainType != null and complainType != ''">complain_type,</if>
            <if test="complainContent != null">complain_content,</if>
            <if test="status != null">status,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="remark != null">remark,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="complainTitle != null and complainTitle != ''">#{complainTitle},</if>
            <if test="complainType != null and complainType != ''">#{complainType},</if>
            <if test="complainContent != null">#{complainContent},</if>
            <if test="status != null">#{status},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="remark != null">#{remark},</if>
         </trim>
    </insert>

    <update id="updateSysComplain" parameterType="SysComplain">
        update sys_complain
        <trim prefix="SET" suffixOverrides=",">
            <if test="complainTitle != null and complainTitle != ''">complain_title = #{complainTitle},</if>
            <if test="complainType != null and complainType != ''">complain_type = #{complainType},</if>
            <if test="complainContent != null">complain_content = #{complainContent},</if>
            <if test="status != null">status = #{status},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="remark != null">remark = #{remark},</if>
        </trim>
        where complain_id = #{complainId}
    </update>

    <delete id="deleteSysComplainByComplainId" parameterType="Integer">
        delete from sys_complain where complain_id = #{complainId}
    </delete>

    <delete id="deleteSysComplainByComplainIds" parameterType="String">
        delete from sys_complain where complain_id in 
        <foreach item="complainId" collection="array" open="(" separator="," close=")">
            #{complainId}
        </foreach>
    </delete>
</mapper>